allow shared_relro unlabeled:file read;
allow shared_relro unlabeled:file open;
allow shared_relro unlabeled:file getattr;
allow shared_relro unlabeled:file execute;
