on init
    start watchdogd

    symlink /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-0006/power_supply/smb347-battery/status /status
    symlink /sys/devices/virtual/power_supply/manta-battery/capacity /capacity

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
