[access]
	inheritFrom = All-Projects
[project]
[access "refs/for/refs/heads/*"]
	pushMerge = group Nexus 10 (manta) Maintainers
[access "refs/heads/*"]
	create = group Nexus 10 (manta) Maintainers
	push = +force group Nexus 10 (manta) Maintainers
	pushMerge = group Nexus 10 (manta) Maintainers
	label-Code-Review = -2..+2 group Nexus 10 (manta) Maintainers
	label-Verified = -1..+1 group Nexus 10 (manta) Maintainers
	submit = group Nexus 10 (manta) Maintainers
