[access]
	inheritFrom = All-Projects
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Samsung Manta Maintainer
	label-Verified = -1..+1 group Samsung Manta Maintainer
	submit = group Samsung Manta Maintainer
	push = +force group Samsung Manta Maintainer
	pushMerge = group Samsung Manta Maintainer
[access "refs/for/refs/heads/*"]
	pushMerge = group Samsung Manta Maintainer
